<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div style="font-size:2em; color:blue">
				<ul class="list-inline social-buttons">

						<li class="social-button-item"><a href="mailto:massimo.pinto@me.com"><i class="fas fa-envelope"></i></a>
						</li>

						<li class="social-button-item"><a href="https://github.com/massimopinto"><i class="fab fa-github"></i></a>
						</li>

						<li class="social-button-item"><a href="http://www.anobii.com/massimopinto/books"><i class="fas fa-book"></i></a>
						</li>
						<!--
						<li class="social-button-item"><a href="https://plus.google.com/108727974446360573532/"><i class="fab fa-google-plus-square"></i></a>
						</li>
						-->
						<li class="social-button-item"><a href="http://scholar.google.com/citations?hl=it&user=HFQnYkAAAAAJ"><i class="fas fa-graduation-cap"></i></a>
						</li>

						<li class="social-button-item"><a href="http://www.linkedin.com/in/massimopinto"><i class="fab fa-linkedin"></i></a>
						</li>

						<li class="social-button-item"><a href="http://orcid.org/0000-0002-8122-7084"><i class="fas fa-info"></i></a>
						</li>

						<li class="social-button-item"><a href="https://www.researchgate.net/profile/Massimo_Pinto/"><i class="fas fa-paperclip"></i></a>
						</li>

						<li class="social-button-item"><a href="skype:pintocop?userinfo"><i class="fab fa-skype"></i></a>
						</li>

						<li class="social-button-item"><a href="https://stackoverflow.com/users/1803325/massimopinto"><i class="fab fa-stack-overflow"></i></a>
						</li>

						<li class="social-button-item"><a href="https://twitter.com/massimopinto"><i class="fab fa-twitter"></i></a>
						</li>

						<li class="social-button-item"><a href="https://fisiciaroundtheworld.wordpress.com"><i class="fab fa-wordpress"></i></a>
						</li>

						<li class="social-button-item"><a href="https://instagram.com/massimopinto"><i class="fab fa-instagram"></i></a>
						</li>

						<li class="social-button-item"><a href="https://strava.com/athletes/3800623"><i class="fab fa-strava"></i></a>
						</li>

				</ul>
			</div>
		</div>
	</div>
</div>
